#!/usr/bin/env sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

setbg &			# set the background with the `setbg` script
xcompmgr &		# xcompmgr for transparency
dwm_status &		# start status bar
xmodmap $HOME/.local/share/.xmodmap-t420
xset r rate 300 50 &	# Speed xrate up
